:root {
  --white: white;
  --black: black;
  --dark-blue: #273773;
  --light-blue: #1B75BA;
  --yellow: #FFB10A;
  --orange: #EE5A27;
  --medium: 500;
  --bold: 700;
  --black-weight: 900;
}

@media screen and (min-width: 1400px) {
 .container {
  width: 1230px;
  padding: 50px calc((100% - 1230px) / 2);
  margin: auto;
 }
 .hero{
  overflow-y: none;
 }
 .hero-image-container{
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
 }

 .hero-image-container img{
  width: 100%;
 }

}

@media screen and (max-width: 1399px) {
  .container {
    width: calc(100% - 50px * 2);
    padding: 0 50px;
    margin: auto;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2 {
  margin: 0;
}

h2{
  color: var(--dark-blue);
  font-weight: var(--black-weight);
  font-size: 25px;
}

button{
  border: none;
  cursor: pointer;
}

mark{
  background: none;
}

.dark-blue{
  color: var(--dark-blue)
}

.light-blue{
  color: var(--light-blue)
}

.yellow{
  color: var(--yellow)
}

.bold{
  font-weight: var(--bold);
}

.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  border-bottom: 2px solid var(--dark-blue);
}

.hero-title{
  text-transform: uppercase;
}

.hero-logo, .hero-title, .hero-paragraph, .hero-cta{
  position: relative;
  z-index: 2;
}

.hero-paragraph{
  font-size: 25px;
  font-weight: var(--medium);
  max-width: 720px;
}

.hero-cta{
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-cta button{
  width: 100%;
  height: 45px;
  font-size: 18px;
  font-weight: var(--bold);
  background-color: var(--orange);
  color: var(--white);
}

.hero-cta p{
  font-size: 12px;
  text-align: center;
}

.section-statement{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px
}

.section-statement p{
  font-size: 18px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1230px;
  padding: 20px calc((100% - 1230px)/2);
  gap: 50px;
}

.grid-blue{
  background-color: var(--dark-blue);
  color: var(--white);
}

.grid-white{
  background-color: var(--white);
  color: var(--dark-blue);
}

.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.grid-item img{
  width: 150px;
  margin-bottom: 20px;
}

.grid-item-index{
  font-weight: var(--black-weight);
  font-size: 25px;
}

.grid-item-title{
  font-weight: var(--black-weight);
  font-size: 18px;
  color: var(--yellow);
  margin-bottom: 20px;
}

.grid-item-description{
  font-weight: var(--medium);
  font-size: 16px;
}